<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellpadding="1" cellspacing="0">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>state</td>
        <td>country</td>
    </tr>
    <tr th:each="City,iterStat:${City.content}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${City.name}">1</td>
        <td th:text="${City.state}">1</td>
        <td th:text="${City.country}">1</td>

    </tr>
    <nav>
        <ul>
            <li><a href="#" th:href="@{/api/v1/Citys(page=${City.number}-1)}" th:unless="${City.first}">上一页</a></li>
            <li><a href="#" th:href="@{/api/v1/Citys(page=${City.number}+1)}" th:unless="${City.last}">下一页</a></li>
        </ul>


    </nav>


</table>
</body>
</html>